<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script>
eval(CryptoJS.enc.Base64.parse("dmFyIGVscyA9IGRvY3VtZW50LmdldEVsZW1lbnRzQnlDbGFzc05hbWUoInVuaGlkZW1lIik7Zm9yKCB2YXIgaSA9IDA7IGkgPCBlbHMubGVuZ3RoOyBpKyspe3ZhciBlbGVtZW50PWVsc1tpXTtlbGVtZW50LmlubmVyVGV4dCA9IENyeXB0b0pTLkFFUy5kZWNyeXB0KGVsZW1lbnQuaW5uZXJUZXh0LCBlbGVtZW50LmlkKS50b1N0cmluZyhDcnlwdG9KUy5lbmMuVXRmOCk7ZWxlbWVudC5pZCA9ICJpbmZvIiArIGk7ZWxlbWVudC5zdHlsZS5kaXNwbGF5ID0gImJsb2NrIjt9Cg==").toString(CryptoJS.enc.Utf8));
</script>
